AppVeiculos/pkgs/Wadl/ClickaPowerAppsbuttontocreateaneventinOffice365Outlook–2.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="ClickaPowerAppsbuttontocreateaneventinOffice365Outlook–2" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Click a Power Apps button to create an event in Office 365 Outlook – 2" />
  <grammars>
    <jsonTypes targetNamespace="https://msmanaged-na.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Calendarid_def" />
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Subject_def" />
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Starttime_def" />
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Endtime_def" />
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Timezone_def" />
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Location_def" />
      <string name="ManualTriggerInput_Createevent_ux28_V4_ux29__Body_def" />
      <object name="ManualTriggerInput">
        <property name="Createevent(V4)_Calendarid" type="string" />
        <property name="Createevent(V4)_Subject" type="string" />
        <property name="Createevent(V4)_Starttime" type="string" />
        <property name="Createevent(V4)_Endtime" type="string" />
        <property name="Createevent(V4)_Timezone" type="string" />
        <property name="Createevent(V4)_Location" type="string" />
        <property name="Createevent(V4)_Body" type="string" />
      </object>
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://msmanaged-na.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="Createevent(V4)_Calendarid" path="/Createevent(V4)_Calendarid" type="xs:string" required="true" />
            <param style="plain" name="Createevent(V4)_Subject" path="/Createevent(V4)_Subject" type="xs:string" required="true" />
            <param style="plain" name="Createevent(V4)_Starttime" path="/Createevent(V4)_Starttime" type="xs:string" required="true" />
            <param style="plain" name="Createevent(V4)_Endtime" path="/Createevent(V4)_Endtime" type="xs:string" required="true" />
            <param style="plain" name="Createevent(V4)_Timezone" path="/Createevent(V4)_Timezone" type="xs:string" required="true" />
            <param style="plain" name="Createevent(V4)_Location" path="/Createevent(V4)_Location" type="xs:string" required="true" />
            <param style="plain" name="Createevent(V4)_Body" path="/Createevent(V4)_Body" type="xs:string" required="true" />
          </representation>
        </request>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>